@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, html, body, #root {
    @apply bg-slate-950 text-white;
    font-family: 'Prompt', sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: 'Kanit', sans-serif !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #4f46e5; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a855f7; 
}